@import url(https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700);
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{font:400 16px/1.8 Poppins,sans-serif;color:#333}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
body{font-family:Poppins,sans-serif;overflow-x:hidden;background:#F8FAFB}
::selection{background:rgba(166,175,189,.3)}
::-moz-selection{background:rgba(166,175,189,.3)}
*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
*{font-family:Poppins,sans-serif;font-weight:400}
::-webkit-scrollbar{display:none}
.ease-3,a{-webkit-transition:all .3s ease-in-out 0s;-moz-transition:all .3s ease-in-out 0s;-ms-transition:all .3s ease-in-out 0s;-o-transition:all .3s ease-in-out 0s;transition:all .3s ease-in-out 0s}
a:active,a:hover,a:link,a:visited{text-decoration:none}
p{color:#5F6F81;font-weight:400}
h1,h2,h3,h4,h5,h6{font-family:Poppins,sans-serif;letter-spacing:2px;color:#333}
h1{font-size:40px}
h2{font-size:36px;margin:0 0 30px}
h3{font-size:24px;letter-spacing:1px;margin:0 0 5px}
h4{font-size:20px;letter-spacing:1px}
h5{font-size:16px;letter-spacing:1px;font-weight:400}
h6{font-size:14px;letter-spacing:1px;font-weight:400}
img{max-width:100%;vertical-align:middle}
textarea{height:100px;resize:none}
b,strong{font-weight:500}
.section{padding:60px 0 100px;position:relative;border-radius:40px 40px 0 0;margin-top:-40px}
.text-custom{color:#30b6e4!important}
.h-100vh{height:100vh}
.btn{padding:15px 40px;font-size:14px;font-weight:400;transition:all .5s;letter-spacing:2px;color:#fff;box-shadow:none;text-transform:uppercase;outline:0!important;border:1px solid transparent;background:#fbd0a1;border-radius:40px}
.btn:hover{color:#fff;box-shadow:0 4px 8px rgba(134,151,168,.1)}
.rounded-full{border-radius:50%}
.page-content-wrap{margin-left:50%;width:50%;background:#F8FAFB}
.b-box{background:#fff;border-radius:30px;border:1px solid #eee;box-shadow:0 4px 8px rgba(134,151,168,.1)}
.aside-banner{position:fixed;top:0;left:0;right:0;width:50%;height:100%;background:#fbd0a1}
.section-head h2{font-size:24px;padding:10px;position:relative;z-index:1}
.section-light{background:#fff}
.section-dark,.section-light .b-box{background:#F8FAFB}
.section-dark .b-box{background:#fff}
.section-head h2:after{position:absolute;content:"";background:#fbd0a1;height:10px;width:100%;left:0;right:0;margin:0 auto;bottom:9px;z-index:-1}
.section-head{display:flex;align-items:center;justify-content:center}
.section-subHead{font-size:20px;font-weight:500;margin:20px 0}
.container{padding-left:30px;padding-right:30px}
.hover-1{position:relative;z-index:1;transition:all .8s cubic-bezier(.77,0,.175,1);-moz-transition:all .8s cubic-bezier(.77,0,.175,1);-webkit-transition:all .8s cubic-bezier(.77,0,.175,1);-o-transition:all .8s cubic-bezier(.77,0,.175,1)}
.hover-1:after,.hover-1:before{content:"";position:absolute;z-index:0;left:0;right:0;top:0;bottom:0;background-color:red;opacity:.5}
.hover-1:hover{transform:scale(1.1)}
.grid{position:fixed;background:#fff;right:50%;bottom:0;width:50%;height:100%;z-index:100;transition:all .8s cubic-bezier(.77,0,.175,1);-moz-transition:all .8s cubic-bezier(.77,0,.175,1);-webkit-transition:all .8s cubic-bezier(.77,0,.175,1);-o-transition:all .8s cubic-bezier(.77,0,.175,1)}
.grid2{right:0}
.line-drop{-webkit-animation:loading 2s infinite ease-in-out;animation:loading 2s infinite ease-in-out;position:fixed;top:0;left:50%;width:1px;height:100%;background:#333;z-index:111111111111}
.line-drop:after{position:fixed;left:50%;height:100%;width:1px;background:rgba(0,0,0,.1);top:0;z-index:111;bottom:0;content:""}
.loaded .grid{width:0}
@-webkit-keyframes loading{0%{height:0;top:0;bottom:auto}
50%,51%{height:100%;top:0;bottom:auto}
52%{height:100%;top:auto;bottom:0}
100%{height:0;top:auto;bottom:0}}
@keyframes loading{0%{height:0;top:0;bottom:auto}
50%,51%{height:100%;top:0;bottom:auto}
52%{height:100%;top:auto;bottom:0}
100%{height:0;top:auto;bottom:0}}
.ham{cursor:pointer;-webkit-tap-highlight-color:transparent;transition:transform 400ms;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}
.hamRotate.active{transform:rotate(45deg)}
.hamRotate180.active{transform:rotate(180deg)}
.line{fill:none;transition:stroke-dasharray 400ms,stroke-dashoffset 400ms;stroke:#000;stroke-width:3.5;stroke-linecap:round}
.ham1 .top{stroke-dasharray:40 139}
.ham1 .bottom{stroke-dasharray:40 180}
.ham1.active .top{stroke-dashoffset:-98px}
.ham1.active .bottom{stroke-dashoffset:-138px}
.nav-wrapper .navbar-toggler{position:fixed;right:0;z-index:20;top:0;padding:0;transform:scale(0.8)}
.nav-wrapper .navbar{position:fixed;right:0;height:100%;background:#fff;z-index:10;box-shadow:0 4px 8px rgba(134,151,168,.1);max-width:50%;width:100%;top:0;transform:translate3d(100%,0,0);bottom:0;overflow:hidden;transition:all 750ms cubic-bezier(0.8,0,.55,.94)}
.nav-wrapper .navbar.active{transform:translate3d(0%,0,0)}
.nav-wrapper .navbar-nav{display:block}
.navbar{height:100%}
.navbar-nav .nav-link{font-size:5vh;font-weight:700;letter-spacing:5px;position:relative;display:inline-block;color:#333;text-transform:capitalize;padding-left:5px;padding-right:5px}
.navbar-nav .nav-link:hover{opacity:1}
.navbar-nav .nav-link:after{position:absolute;content:"";left:0;right:0;width:100%;height:0;background:#fbd0a1;bottom:27%;z-index:-1;opacity:0;visibility:hidden;-webkit-transition:all .3s ease-in-out 0s;-moz-transition:all .3s ease-in-out 0s;-ms-transition:all .3s ease-in-out 0s;-o-transition:all .3s ease-in-out 0s;transition:all .3s ease-in-out 0s}
.navbar-nav .nav-link{opacity:1}
.navbar-nav .nav-link.active:after{opacity:1;visibility:visible;height:2vh}
.about-avatar img{height:200px;width:200px;border:10px solid #fff}
.about-social a{display:block;border-radius:30px;background:#fff;height:50px;width:50px;font-size:22px;line-height:52px;box-shadow:0 4px 8px rgba(134,151,168,.1);color:#333;border:1px solid #eee}
.about-social a.downloadCV{width:auto;line-height:47px;padding:0 20px}
.about-social a.downloadCV span{font-size:16px;font-weight:400;padding-left:5px}
.about-desc h1{font-size:32px}
.about-desc h3{font-size:18px;font-weight:400;line-height:32px;max-width:500px;margin:0 auto}
.about-desc-more{padding:30px 30px 10px}
.about-desc-info{padding-bottom:20px}
.about-desc-info b{padding-right:10px;font-size:18px}
.about-desc-info a,.about-desc-info span{font-size:16px;color:#5F6F81;font-weight:400}
.about-desc-info a{text-decoration:underline}
.about-desc-info a:hover{text-decoration:none}
.owl-dots{text-align:center;margin-top:20px}
.owl-carousel .owl-dots button{height:7px;display:inline-block;border-radius:20px;font-size:26px;line-height:20px;margin:20px 5px 0;box-shadow:0 4px 8px rgba(134,151,168,.1);width:7px;background:#fbd0a1;opacity:.5;-webkit-transition:all .3s ease-in-out 0s;-moz-transition:all .3s ease-in-out 0s;-ms-transition:all .3s ease-in-out 0s;-o-transition:all .3s ease-in-out 0s;transition:all .3s ease-in-out 0s}
.owl-carousel .owl-dots button.active{width:20px;background:#fbd0a1;opacity:1}
.owl-nav{text-align:center}
.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev{padding:10px 30px!important;display:inline-block;background:#fff!important;border-radius:20px;font-size:26px;line-height:20px;margin:20px 10px 0;box-shadow:0 4px 8px rgba(134,151,168,.1)}
.filter{border-bottom:1px solid #eee}
.filter a.active{background:#fff;border-color:#fbd0a1;color:#333}
.filter a{padding:10px 25px;display:block;cursor:pointer;text-transform:capitalize;border-bottom:4px solid transparent;color:#5F6F81!important}
.portfolio-item--img img{border-radius:30px;overflow:hidden;display:block;width:100%}
.portfolio-item--content{display:block;position:relative;margin-bottom:30px}
.portfolio-item--desc{position:absolute;left:0;top:0;right:0;height:100%;width:100%;background:rgba(0,0,0,.5);border-radius:30px;text-align:center;opacity:0;visibility:hidden;-webkit-transition:all .3s ease-in-out 0s;-moz-transition:all .3s ease-in-out 0s;-ms-transition:all .3s ease-in-out 0s;-o-transition:all .3s ease-in-out 0s;transition:all .3s ease-in-out 0s}
.portfolio-item--desc-in{opacity:0;visibility:hidden;margin-top:30px;-webkit-transition:all .3s ease-in-out 0s;-moz-transition:all .3s ease-in-out 0s;-ms-transition:all .3s ease-in-out 0s;-o-transition:all .3s ease-in-out 0s;transition:all .3s ease-in-out 0s}
.portfolio-item--content:hover .portfolio-item--desc{opacity:1;visibility:visible}
.portfolio-item--content:hover .portfolio-item--desc-in{opacity:1;visibility:visible;margin-top:0}
.portfolio-item--desc-in h3{font-size:18px}
.portfolio-item--desc-in p{font-size:16px}
.services-list-icon{font-size:30px}
.services-list h5{font-size:18px;font-weight:500}
.section-freelance{background:url(../images/freelance.jpg) 0 0/cover no-repeat fixed;position:relative;z-index:0}
.section-freelance:after{content:"";position:absolute;left:0;right:0;top:0;bottom:0;background:#000;z-index:-1;opacity:.5;border-radius:40px 40px 0 0}
.section-freelance h2{color:#fff}
.resume-list h5{font-size:18px;font-weight:500}
.progress-bar{background-color:#fbd0a1}
.single-testimonials img{max-width:100px;height:100px;border-radius:30px}
.blog-list{max-width:350px}
.blog-list--img{position:relative}
.blog-list--img img{border-radius:30px 30px 0 0;height:300px;object-fit:cover}
.blog-list--desc h3{font-size:18px}
.blog-list--details{position:absolute;left:0;top:0;right:0;height:100%;width:100%;background:rgba(0,0,0,.5);border-radius:30px 30px 0 0;text-align:center;opacity:0;visibility:hidden;-webkit-transition:all .3s ease-in-out 0s;-moz-transition:all .3s ease-in-out 0s;-ms-transition:all .3s ease-in-out 0s;-o-transition:all .3s ease-in-out 0s;transition:all .3s ease-in-out 0s}
.blog-list:hover .blog-list--details{opacity:1;visibility:visible}
.blog-list:hover .blog-list--details-in{opacity:1;visibility:visible;margin-top:0}
.blog-list--details-in{opacity:0;visibility:hidden;margin-top:30px;-webkit-transition:all .3s ease-in-out 0s;-moz-transition:all .3s ease-in-out 0s;-ms-transition:all .3s ease-in-out 0s;-o-transition:all .3s ease-in-out 0s;transition:all .3s ease-in-out 0s}
.section-contact{padding-bottom:0}
.contact-map--container{height:350px;overflow:hidden}
.contact-details--panel i{font-size:30px}
.contact-details--panel a{font-size:18px;font-weight:500;color:#333;text-decoration:underline}
.contact-details--panel a:hover{text-decoration:none}
.form-control:focus{color:#333}
.form-control{padding:15px 30px;height:auto;color:#333}
.section-contact .section-subHead{padding:30px 0;margin:0}
.footer{margin-top:0;padding:50px 0}
@media (max-width:991px){.aside-banner{height:400px;width:100%;position:relative}
.page-content-wrap{margin-left:0;width:100%;margin-top:-50px;border-radius:40px 40px 0 0;position:relative;z-index:1}}
@media (max-width:768px){.container{padding-right:15px;padding-left:15px}
.nav-wrapper .navbar{max-width:75%}
.contact-details--panel{margin-bottom:30px}
.contact-form{margin-top:0!important}
.contact-details,.section-resume .section-subHead{padding-top:30px}
.filter a{font-size:13px;padding:5px 8px}
.navbar-nav .nav-link{font-size:4vh}
.about-social a{height:40px;width:40px;line-height:40px;font-size:16px}
.about-social a.downloadCV{line-height:40px;padding:0 14px}
.about-social a.downloadCV span{font-size:14px}
.about-desc h1{font-size:28px}
.about-desc h3{font-size:16px;line-height:28px}
.about-desc-more{padding:20px 20px 0}
.section-freelance .section-head h2{font-size:22px}}